body {
  background-color: #708090;
  font-family: Georgia;
  font-size: 12pt;
}

header {
  text-align:center;
  padding-bottom: 10px;
}

h1 {
  color: #F0F8FF;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 100vw;
  height: 100vh;
  
  
}
